{% extends 'base.html' %}

{% block body %}
 {% include 'navbar.html' %}
   <div class="container mt-4">
   <h2> Gestor </h2>
       <hr>
       <h5> Novas Solicitações:</h5>

        {{ aprovado.aprovado }}
       {% if aprovado.aprovado == "SIM" %}
       <div class="row border mt-4 p-3 pedidos" >
           <div class="col col-2">

               <div> <img  src="{{ url_for('static', filename='fotos_perfil/{}'.format(posts.autor.foto))}}" class="rounded" width="70" > </div>
               <strong>{{ posts.autor.username}}</strong> <br>
               Data da Solicitação: <br>
               {{ posts.datacriacao.strftime('%d/%m/%Y') }}<br>
               <div class="container">
                <div class="row">
                    <form method="POST" action="" >
                        {{ form_aprovado.csrf_token }}
                        <fieldset>
                            <div class="form-group">


                            </div>
                        </fieldset>
                            {{ form_aprovado.btaprovado }}
                    </form>
                </div>
               </div>


           </div>
           <div style="font-size:25px" class="col col-7" >
               <strong> Empreendimento:  </strong>    {{ posts.empreendimento }} <br>
               <strong>Data de vencimento : </strong>   {{ posts.datavencimento }} <br>
               <strong>Valor Bruto: </strong>   {{ posts.valorbruto }} <br>
               <strong>Valor Liquido: </strong>   {{ posts.valorliquido }} <br>
               <strong>Favorecido : </strong>   {{ posts.favorecido }} <br>
               <strong>CNPJ:</strong>    {{ posts.cnpj }} <br>
               <strong> Razão Social: </strong>   {{ posts.razaosocial }} <br>
               <strong>Orçamento: </strong>   {{ posts.orcamento }} <br>
               <strong>Pendencia: </strong>   {{ posts.pendencia }} <br>
               <strong>Prazo/pendencia: </strong>   {{ posts.prazo }} <br>
               <strong>Serviço:</strong>    {{ posts.servico }} <br>
               <strong>Mei: </strong> {{ posts.mei}} <br>
               <strong>Descrição:</strong>  {{ posts.descricao }} <br>
               <strong>Pagamento: </strong> {{ posts.pagamento }} <br>
               <strong>NF:</strong>  {{ posts.nf }} <br>
               <strong>Linha de Planejamento:</strong>  {{ posts.linhaplanejamento }} <br>
               <strong>Observações: </strong> {{ posts.observacoes }} <br>
           </div>
           <div class="col col-3">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>

               <img src="{{ url_for('static', filename='Anexos/salvararquivo.png')}}" class="rounded" width="70" > <br>

               <a href="/download/{{arquivo.id_post}}"> <button class="btn btn-sm btn-outline-primary w-10"> Baixar Arquivo </button></a>
               <br>
               <br>
               <br>
           </div>


       </div>
       {% endif %}


  </div>

{% endblock %}